body{
  display: flex;
  justify-content: center;
  font-family: Gotham Medium;
}

.bodyContent{
  display: flex;
  justify-content: center;
  width: auto;
  height: auto;
}

.nav{
  width: 25vw;
  display: flex;
  justify-content: center;
  border-right: solid #8dc6ff 2px;
}

.content{
  width: 75vw;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
}

.color{
  color: white;
  background-color: #8dc6ff;
}

td{
  padding-left: 1vh;
  padding-right: 5vh;
  padding-top: 1vh;
  padding-bottom: 1vh;
  border-bottom: white solid 2.5px;
  font-family: Gotham Medium;
}

tr{
  margin-bottom: 1vh;
}

.level{
  padding-top: 5vh;
}
