body{
  background-color: #E8DFCA;
  display: flex;
  justify-content: space-between;
  font-family: Gotham htf;
  margin: 0;
}

.table{
  width: 50vw;
  height: 100%;
  background-color: #F5EFE6;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#h1{
  font-size: 250%;
  margin-bottom: 0;
}
#h3{
  font-size: 125%;
}

#h1, #h3{
  color: #7895B2;
  font-style: normal;
}

table{
  font-size: 150%;
  border-collapse: collapse;
}

.tableDiv{
  padding-bottom: 10vh;
}

td{
  padding-left: 1vw;
  padding-right: 1vw;
}

.color{
  color: #F5EFE6;
  background-color: #7895B2;
}

.underlineTd{
  border-top: 1px #7895B2 solid;
}

.sideMenu{
  width: 24.5vw;
  height: 100vh;
  background-color: #7895B2;
  position: fixed;
}

.placeHolder{
  width: 24.5vw;
  height: 100%;
}

ul{
  list-style-type: none;
}

li{
  padding-top: 1.5%;
  color: #F5EFE6;
}

button{
  border: None;
  color: #F5EFE6;
  background-color: #00000000;
  padding: 0;
  font-size: 105%;
}

button:hover{
  color: #AEBDCA;
}
